@import '../../../assets/scss-vars/variables.scss';

.app-main-header {
    .contact-icon {
        position: absolute;
        height: 15px;
        width: 15px;
    }

    .right-nav {
        display: none;
        @media (min-width: $breakpoint-small) {
            display: block;
        }
    }

    span {
        color: #b3b3b3;
        height: 30px;
        padding: 5px;
    }

    button {
        background-color: unset;
        color: #fff;
        border: unset;
    }

    nav {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #ffff;
        background-color: #191f24;
        padding: 0.7rem;

        a {
            text-decoration: none;
            color: unset;
            padding: 5px;
            font-weight: 400;
            font-size: 1.2rem;
            span {
                color: #fff;
                margin-right: 8px;
                &:hover {
                    border-bottom: 1px solid #b3b3b3;
                    cursor: pointer;
                }
            }
        }
        .subtitle{
            display: none;
            height: unset;
            @media (min-width: $breakpoint-medium) {
                display: block;
            }         
        }
        .nav-logo {
            text-decoration: none;
            color: unset;
            padding: 5px;
            font-weight: 600;
            font-size: 1.2rem;
            letter-spacing: 1.2px;
            cursor: pointer;
            margin: unset;
            display: flex;
            align-items: center;
            span{
                letter-spacing: 0.5px;
                font-weight: 400;
            }
            .blue-square {
                height: 10px;
                width: 10px;
                background-color: $title-blue-color;
                margin-right: 10px;
                margin-bottom: 2px;
            }

        }
    }
}

.menu-mobile-icon {
    position: absolute;
    right: 15px;
    display: block;
    cursor: pointer;
    @media (min-width: $breakpoint-small) {
        display: none;
    }
}

.mobile-nav {
    height: 100vh;
    width: 100%;
    background-color: rgb(226, 213, 199);
    position: fixed;
    z-index: 10;
    transition: transform 0.6s ease;
    transform: translateX(100%);

    .right-nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-size: 1.7rem;
        text-decoration: none;
        border-bottom: 1px solid;
        color: #191f24;
    }

    @media (min-width: $breakpoint-small) {
        display: none;
    }

}
.active{
    transform: translateX(0);
}
.show{
    right: 0;
}
.active-link{
    border-bottom: 1px solid #b3b3b3;
}