<div class="main-container">
  <div class="image-container">
    <img class="my-image" src="/assets/images/my-profile.png" />
    <div class="card-my-name">{{ myName }}</div>
    <hr />
    <div class="job-name">{{ job }}</div>
    <div class="about-me-card-footer">
      <button (click)="downloadCV()" class="resume-btn">
        Download Resume
        <img src="../../../assets/images/download-icon.png" alt="" />
      </button>
    </div>
  </div>
  <div class="up-content">
    <div class="about-content">
      <p class="p-content hello-title">Hello!</p>
      <p class="p-content">
        {{ paragraph }}
      </p>
      <hr />
      <h5>{{ motto }}</h5>
    </div>
  </div>
</div>
