<div class="main-container">
  <div class="up-content">
    <h2>About Me</h2>
    <div class="about-content">
      <p class="p-content">
        Im Dekel Ido, im 27 years old single. Im a Frontend developer with
        passion to development and fast learning.
        My wish is to work for the company OSA Commerce and give them all of my abilities.
        I love people and im a team
        player !
      </p>
      <h5>My motto is - "Dreams without goals are just dreams"</h5>
      <hr />
      <div class="image-container">
        <img
          class="my-image"
        src="/assets/images/my-profile.png"
          />
          <!-- <div class="about-me-name">
            Dekel Ido
          </div> -->
      </div>
    </div>
  </div>
</div>
